.principal{
    background: #402eebe8;
}

.contenedor-principal{
    display: flex;
    text-align: center;
  justify-content: center;
  flex-direction: column;
}

.video{
    margin: 0 280px;
}

.titulo{
    font-size: 30px;
}

.contenedor-2{
    display: flex; /* or inline-flex */
    padding: 50px;
    flex-wrap: wrap;
}


.contenedor-3{
    padding: 3rem;
}
@media (max-width: 820px) {
    .contenedor-3{
        padding: 0rem;
    }
    .titulo{
        font-size: 26px;
    }

    .video{
        margin: 0 10px;
    }
}

.myButton{
    box-shadow:0 10px 14px -7px #382d0b;
    background:linear-gradient(to bottom,#ffc619 5%,#ffc619 100%);
    background-color:#ffc619;border-radius:8px;
    display:inline-block;
    cursor:pointer;
    color:#fff;
    font-family:Arial;
    font-size:20px;
    font-weight:700;
    padding:13px 0;
    margin:25px 0;
    text-decoration:none;
    text-shadow:0 1px 0 #ffc619;
    width:100%;
    text-align:center
}
    
.myButton:hover{
    background:linear-gradient(to bottom,#fabb00 5%,#fabb00 100%);
    background-color:#ffc619;
    color:#fff
}

.myButton:active{
    position:relative;
    top:1px
}

